<section class="bg-[#8830C205]">
  <h2 class="px-25 py-20 font-bold text-[32px]">{{ programData.title }}</h2>
</section>
<section class="px-25 pt-10 pb-15 bg-[#FDFDFD] font-medium text-xl">
  <p>{{ programData.partners }}</p>
  <p>{{ programData.desc }}</p>
  <br />
  <p>Participants will:</p>
  <ul *ngFor="let item of programData.highlights" class="list-disc">
    <li class="opacity-70">{{ item.h }}</li>
  </ul>
  <br />
  <p>Goals:</p>
  <ul *ngFor="let item of programData.goals">
    <li class="opacity-70">{{ item.g }}</li>
  </ul>
</section>
<section class="grid grid-cols-3 px-25 gap-5">
  <img
    [src]="programData.img1"
    class="row-span-2 h-full object-cover rounded-xl"
    alt=""
  />
  <img
    [src]="programData.img2"
    class="h-51 w-full object-cover rounded-xl"
    alt=""
  />
  <img
    [src]="programData.img3"
    class="h-51 w-full object-cover rounded-xl"
    alt=""
  />
  <img
    [src]="programData.img4"
    class="h-51 w-full object-cover rounded-xl"
    alt=""
  />
  <img
    [src]="programData.img5"
    class="h-51 w-full object-cover rounded-xl"
    alt=""
  />
</section>
<section class="px-25 py-20 bg-[#FDFDFD] ja">
  <div class="grid grid-cols-2 gap-5">
    <div class="flex flex-col gap-3">
      <h3 class="font-bold text-xl ja">Direct Bank Transfer</h3>
      <div class="bg-[#F9FAFB] p-8 flex justify-between rounded-[4px] h-55">
        <div class="flex flex-col gap-3.5 ja">
          <p class="ja">Account Number</p>
          <p class="ja">Beneficiary</p>
          <br />
          <p class="ja mt-6">Bank</p>
        </div>
        <div class="flex flex-col gap-3.5 font-semibold text-[18px]">
          <p class="ja">3001149742</p>
          <p class="ja">
            GOD-LOVE 360 <br />
            DEGREE EMPOWERMENT <br />
            FOUNDATION
          </p>
          <p class="ja">Access Bank</p>
        </div>
        <div class="cursor-pointer" (click)="copyToClipboard('3001149742')">
          <img src="assets/programs/copy.svg" alt="" />
        </div>
        <div></div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <h3 class="font-bold text-xl ja">Other Donation Methods</h3>
      <div class="bg-[#F9FAFB] p-8 flex gap-10 rounded-[4px] h-55">
        <div class="flex flex-col gap-3.5">
          <p class="ja">Dollar</p>
          <p class="ja">Pounds</p>
          <p class="ja">Euro</p>
          <p class="ja">Contact</p>
        </div>
        <div class="flex flex-col gap-3.5 font-semibold text-[18px]">
          <p class="ja">3001149883</p>
          <p class="ja">3001149900</p>
          <p class="ja">3001149924</p>
          <p class="ja">08020599870</p>
        </div>
      </div>
    </div>
  </div>
</section>
