<section class="bg-[#8830C205]">
  <h2 class="px-7.5 py-10 lg:px-25 lg:py-20 font-bold text-[32px]">
    Become a Partner
  </h2>
</section>
<section class="px-7.5 py-10 lg:px-25 lg:py-20 bg-[#FDFDFD]">
  <div class="flex lg:flex-row flex-col gap-12.5 items-center justify-between">
    <div class="flex flex-col gap-6">
      <h3 class="text-[32px] font-bold">Benefits of Partnering With Us</h3>
      <ul class="text-xl opacity-70 list-disc">
        <li>
          Our beneficiary organizations have access to regular <br />financial
          support.
        </li>
        <li>Food and foodstuffs supplies.</li>
        <li>Essential non-food items.</li>
        <li>(Services) e.g. Facilitating training for their members.</li>
        <li>Support building of networks that generate income.</li>
      </ul>
    </div>
    <div><img src="assets/volunteer/img1.jpg" class="lg:max-w-120" alt="" /></div>
  </div>
</section>
<section class="px-7.5 py-10 lg:px-25 lg:pb-15">
  <h2 class="text-[32px] font-bold">Our Key Partnerships</h2>
  <div class="flex flex-col gap-6">
    <h3 class="font-bold text-xl">Current Partners</h3>
    <div class="flex lg:flex-row flex-col gap-10.25">
      <div
        class="flex flex-col border-[0.5px] border-l-[#2A6D0A] border-l-4 px-4.5 py-5 rounded-xl gap-3.5 shad"
      >
        <div class="flex gap-6.75">
          <p class="text-xl font-medium">Marycharis Benevolence Foundation</p>
          <div>
            <p
              class="bg-[#2A6D0A33] text-xs px-3 py-2 text-[#2A6D0A] rounded-xl font-medium"
            >
              Active
            </p>
          </div>
        </div>
        <div class="flex opacity-80 items-center gap-1">
          <i class="fa-solid fa-location-dot"></i>
          <p>Badagry</p>
        </div>
      </div>
      <div
        class="flex flex-col border-[0.5px] border-l-[#2A6D0A] border-l-4 px-4.5 py-5 rounded-xl gap-3.5 shad"
      >
        <div class="flex gap-6.75">
          <p class="text-xl font-medium">Marycharis Benevolence Foundation</p>
          <div>
            <p
              class="bg-[#2A6D0A33] text-xs px-3 py-2 text-[#2A6D0A] rounded-xl font-medium"
            >
              Active
            </p>
          </div>
        </div>
        <div class="flex opacity-80 items-center gap-1">
          <i class="fa-solid fa-location-dot"></i>
          <p>Badagry</p>
        </div>
      </div>
      <div
        class="flex flex-col border-[0.5px] border-l-[#2A6D0A] border-l-4 px-4.5 py-5 rounded-xl gap-3.5 shad"
      >
        <div class="flex gap-6.75">
          <p class="text-xl font-medium">Marycharis Benevolence Foundation</p>
          <div>
            <p
              class="bg-[#2A6D0A33] text-xs px-3 py-2 text-[#2A6D0A] rounded-xl font-medium"
            >
              Active
            </p>
          </div>
        </div>
        <div class="flex opacity-80 items-center gap-1">
          <i class="fa-solid fa-location-dot"></i>
          <p>Badagry</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-6">
    <h3 class="font-bold text-xl mt-4">Currently Negotiating</h3>
    <div class="flex flex-row gap-10.25">
      <div
        class="flex flex-col border-[0.5px] border-l-[#6D4E0A] border-l-4 px-4.5 py-5 rounded-xl gap-3.5 shad"
      >
        <div class="flex gap-6.75">
          <p class="text-xl font-medium">
            Resilience Divine <br />
            Widows Foundation
          </p>
          <div>
            <p
              class="bg-[#6D4E0A33] text-xs px-3 py-2 text-[#6D4E0A] rounded-xl font-medium"
            >
              Active
            </p>
          </div>
        </div>
        <div class="flex opacity-80 items-center gap-1">
          <i class="fa-solid fa-location-dot"></i>
          <p>Amuwo Odofin, Lagos</p>
        </div>
      </div>
    </div>
  </div>
</section>
