<section class="bg-[#8830C205]">
  <h2 class="px-7.5 py-10 lg:px-25 lg:py-20 font-bold text-[32px]">
    Become a Partner/Sponsor
  </h2>
</section>
<section class="px-7.5 py-10 lg:px-25 lg:py-20 bg-[#FDFDFD]">
  <div class="flex lg:flex-row flex-col gap-12.5 items-center justify-between">
    <div class="flex flex-col gap-6">
      <h3 class="text-[32px] font-bold">
        Benefits of Partnering With Us (Customers)
      </h3>
      <ul class="text-xl opacity-70 list-disc">
        <li>
          Our beneficiary organizations have access to regular <br />financial
          support.
        </li>
        <li>Food and foodstuffs supplies.</li>
        <li>Essential non-food items.</li>
        <li>(Services) e.g. Facilitating training for their members.</li>
        <li>Support building of networks that generate income.</li>
      </ul>
    </div>
  </div>
</section>
<section class="px-7.5 py-10 lg:px-25 lg:pb-15">
  <h2 class="text-[32px] font-bold">Our Key Partnerships</h2>
  <div class="flex flex-col gap-10">
    <!-- <h3 class="font-bold text-xl">Current Partners</h3>
    <div class="flex lg:flex-row flex-col gap-10.25">
      <div
        class="flex flex-col border-[0.5px] border-l-[#2A6D0A] border-l-4 px-4.5 py-5 rounded-xl gap-3.5 shad"
      >
        <div class="flex gap-6.75">
          <p class="text-xl font-medium">Marycharis Benevolence Foundation</p>
          <div>
            <p
              class="bg-[#2A6D0A33] text-xs px-3 py-2 text-[#2A6D0A] rounded-xl font-medium"
            >
              Active
            </p>
          </div>
        </div>
        <div class="flex opacity-80 items-center gap-1">
          <i class="fa-solid fa-location-dot"></i>
          <p>Badagry</p>
        </div>
      </div>
      <div
        class="flex flex-col border-[0.5px] border-l-[#2A6D0A] border-l-4 px-4.5 py-5 rounded-xl gap-3.5 shad"
      >
        <div class="flex gap-6.75">
          <p class="text-xl font-medium">Marycharis Benevolence Foundation</p>
          <div>
            <p
              class="bg-[#2A6D0A33] text-xs px-3 py-2 text-[#2A6D0A] rounded-xl font-medium"
            >
              Active
            </p>
          </div>
        </div>
        <div class="flex opacity-80 items-center gap-1">
          <i class="fa-solid fa-location-dot"></i>
          <p>Badagry</p>
        </div>
      </div>
      <div
        class="flex flex-col border-[0.5px] border-l-[#2A6D0A] border-l-4 px-4.5 py-5 rounded-xl gap-3.5 shad"
      >
        <div class="flex gap-6.75">
          <p class="text-xl font-medium">Marycharis Benevolence Foundation</p>
          <div>
            <p
              class="bg-[#2A6D0A33] text-xs px-3 py-2 text-[#2A6D0A] rounded-xl font-medium"
            >
              Active
            </p>
          </div>
        </div>
        <div class="flex opacity-80 items-center gap-1">
          <i class="fa-solid fa-location-dot"></i>
          <p>Badagry</p>
        </div>
      </div>
    </div> -->
    <div>
      <h3 class="text-center text-xl font-bold underline">
        Marycharis Benevolence Foundation
      </h3>
      <div class="flex flex-col items-center gap-5">
        <div>
          <img src="assets/volunteer/v1.jpg" alt="" />
        </div>
        <div>
          <img src="assets/volunteer/v1.5.jpg" alt="" class="xl:max-w-170" />
        </div>
        <h3 class="italic">Marycharis Collaboration with Godslove</h3>
      </div>
    </div>
    <div>
      <h3 class="text-center text-xl font-bold underline">
        The Resilience Divine Widows Foundation
      </h3>
      <div class="flex flex-col items-center gap-5">
        <div>
          <img src="assets/volunteer/v2.jpg" alt="" class="max-w-50" />
        </div>
        <div>
          <img src="assets/volunteer/v2.7.jpg" alt="" class="xl:max-w-170" />
        </div>
        <h3 class="italic">Letter of Partnership/Sponsorship</h3>
        <div>
          <img src="assets/volunteer/v2.5.jpg" alt="" class="xl:max-w-170" />
        </div>
        <h3 class="italic">Letter of Partnership/Sponsorship</h3>
      </div>
    </div>
    <div class="">
      <h3 class="text-center text-xl font-bold underline">
        All Farmers Association of Nigeria
      </h3>
      <div class="flex flex-col items-center gap-5">
        <div>
          <img src="assets/volunteer/v3.jpg" alt="" class="max-w-50" />
        </div>
        <div>
          <img src="assets/volunteer/v3.5.jpg" alt="" class="xl:max-w-170" />
        </div>
        <h3 class="italic">
          Some members of All Farmers Association of Nigeria including
          founder of Godlove.
        </h3>
        <h2 class="text-[32px] font-bold mt-3">
          Godlove will enjoy these benefits being AFAN partner
        </h2>
        <ul class="text-xl opacity-70 list-disc mb-3">
          <li>Access to monthly training in modern farming techniques</li>
          <li>
            Members are open to getting good seedlings and organic ferterlizers
          </li>
          <li>Government Subvention to farmers</li>
          <li>Opportunity to be a member of farmers cooperative society</li>
          <li>Exposure to farmers' loans, local and international grants</li>
          <li>Our farms can be covered by insurance policy</li>
          <li>Opportunity to network with other farmers in the nation etc.</li>
        </ul>
      </div>
    </div>
    <div>
      <h3 class="text-center text-xl font-bold underline">Green World</h3>
      <div class="flex flex-col items-center gap-5">
        <div>
          <img src="assets/volunteer/v5.jpg" alt="" class="max-w-50" />
        </div>
        <div>
          <img src="assets/volunteer/v4.jpg" alt="" class="xl:max-w-170" />
        </div>
        <div>
          <img src="assets/volunteer/v7.jpg" alt="" class="xl:max-w-170" />
        </div>
        <h3 class="italic">Letter of Partnership/Sponsorship</h3>
      </div>
    </div>
    <div>
      <h3 class="text-center text-xl font-bold underline">
        Nicotel Apartments
      </h3>
      <div class="flex flex-col items-center gap-5">
        <div>
          <img src="assets/volunteer/v6.jpg" alt="" class="max-w-50" />
        </div>
        <div>
          <img src="assets/volunteer/v8.jpg" alt="" class="xl:max-w-170" />
        </div>
        <h3 class="italic">Letter of Partnership/Sponsorship</h3>
      </div>
    </div>
  </div>
  <!-- <div class="flex flex-col gap-6">
    <h3 class="font-bold text-xl mt-4">Currently Negotiating</h3>
    <div class="flex flex-row gap-10.25">
      <div
        class="flex flex-col border-[0.5px] border-l-[#6D4E0A] border-l-4 px-4.5 py-5 rounded-xl gap-3.5 shad"
      >
        <div class="flex gap-6.75">
          <p class="text-xl font-medium">
            Resilience Divine <br />
            Widows Foundation
          </p>
          <div>
            <p
              class="bg-[#6D4E0A33] text-xs px-3 py-2 text-[#6D4E0A] rounded-xl font-medium"
            >
              Active
            </p>
          </div>
        </div>
        <div class="flex opacity-80 items-center gap-1">
          <i class="fa-solid fa-location-dot"></i>
          <p>Amuwo Odofin, Lagos</p>
        </div>
      </div>
    </div>
  </div> -->
</section>
