<section class="bg-[#8830C205]">
  <h2 class="px-7.5 py-10 lg:px-25 lg:py-20 font-bold text-[32px]">About</h2>
</section>

<!--About Gods Love -->

<section class="px-7.5 py-10 lg:px-25 lg:py-20 bg-[#FDFDFD]">
  <div class="flex lg:flex-row flex-col gap-12.5 items-center">
    <div class="flex flex-col gap-6">
      <h3 class="text-[32px] font-bold">About GodLove</h3>
      <p class="text-xl opacity-70">
        GodLove 360 Degree Empowerment Foundation is a non-profit organization
        committed to fighting hunger, poverty, lack of sustainable income to
        meet basic needs, by partnering with others who share our goal of
        poverty free nation.we are a faith-driven non-profit organization
        committed to empowering underserved Nigerians through skill acquisition,
        sustainable business opportunities, agricultural training, and essential
        welfare support. Located at 3rd Avenue, 31 Road, House 15, Festac Town,
        Lagos, Nigeria, our facility serves as a hub for empowerment, healing,
        and transformation. We operate as proud affiliates of reputable
        organizations including TGR Telecom, AFAN (All Farmers Association of
        Nigeria), and Xtralarge Farms.
      </p>
    </div>
    <div><img src="assets/home/img1.jpg" class="lg:max-w-160" alt="" /></div>
  </div>
</section>

<section class="px-7.5 py-10 lg:px-25 lg:py-20 bg-[#FDFDFD]">
  <div class="flex lg:flex-row flex-col-reverse gap-12.5 items-center">
    <div class="grid grid-cols-2 gap-2 w-full max-w-lg mx-auto">
      <!-- Right image (tall) -->
      <div class="row-span-2">
        <img
          src="assets/about/grid1img.jpg"
          alt="Group 2"
          class="rounded-lg object-cover w-full h-full"
        />
      </div>
      <!-- Top-left image -->
      <div class="col-span-1">
        <img
          src="assets/about/grid1img2.jpg"
          alt="Group 1"
          class="rounded-lg object-cover w-full h-55"
        />
      </div>

      <!-- Bottom-left image -->
      <div class="col-span-1">
        <img
          src="/assets/about/grid1img3.jpg"
          alt="Group 3"
          class="rounded-lg object-cover w-full h-55"
        />
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-4">
        <h3 class="text-[32px] font-bold">Ambition</h3>
        <p class="text-xl opacity-70">
          To establish a food bank and skills acquisition center in Telecom and
          Urban Farming for 1,000 underserved people in Nigeria yearly
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-[32px] font-bold">Vision</h3>
        <p class="text-xl opacity-70">
          To be the nation's leading poverty (hunger) alleviation organization
          that enhances better life.
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-[32px] font-bold">Mission</h3>
        <div class="text-xl opacity-70">
          <p>
            Become a front-lined agency for improved standard of living to the
            underserved Nigerians in these two ways.
          </p>
          <ul class="list-disc">
            <li>
              Repositioning the underserved and low income earners for
              sustainable income through skills acquisition.
            </li>
            <li>
              Fostering equitable access to food resources throughout the nation
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!--OUR PRIMARY GOAL IS TO -->
<section class="px-7.5 py-10 lg:px-25 lg:py-20 bg-[#FDFDFD]">
  <div class="flex lg:flex-row flex-col gap-12.5 items-center">
    <div class="flex flex-col gap-6">
      <div class="flex flex-col gap-4">
        <h3 class="text-[32px] font-bold">
          Our primary goal is to reach out to
        </h3>
        <p class="text-xl opacity-70">
          Extremely indigent families. <br />
          Vulnerables and widows.<br />
          Elders from age 60 and above<br />
          Low income earners.<br />
          Out of school children. <br />
          Similar organizations involved in the business of eradication of
          poverty.<br />
        </p>
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-[32px] font-bold">Our culture centers around</h3>
        <p class="text-xl opacity-70">
          Honesty and Integrity. <br />
          Proactiveness.<br />
          Future orientation.<br />
          Transparency and accountability.<br />
          Human transformation.<br />
        </p>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-2 w-full max-w-lg mx-auto">
      <!-- Top-left image -->
      <div class="col-span-1">
        <img
          src="assets/about/grid2img.jpg"
          alt="Group 1"
          class="rounded-lg object-cover w-full h-55"
        />
      </div>
      <!-- Right image (tall) -->
      <div class="row-span-2">
        <img
          src="assets/about/grid2img3.jpg"
          alt="Group 2"
          class="rounded-lg object-cover w-full h-full"
        />
      </div>

      <!-- Bottom-left image -->
      <div class="col-span-1">
        <img
          src="/assets/about/grid2img2.jpg"
          alt="Group 3"
          class="rounded-lg object-cover w-full h-55"
        />
      </div>
    </div>
  </div>
</section>

<section
  class="px-7.5 py-10 lg:px-25 lg:py-20 bg-[#FDFDFD] flex flex-col gap-6"
>
  <div class="flex flex-col">
    <h2 class="text-[32px] font-bold">Management</h2>
    <p class="opacity-60 text-xl">
      Get to know the passionate people behind this work
    </p>
  </div>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-6">
      <p class="font-medium text-2xl">Board Members</p>
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-5 lg:gap-0">
        <div
          *ngFor="let board of boards"
          class="lg:max-w-[292px] max-h-[236px]"
        >
          <div class="w-full h-full overflow-hidden rounded-lg relative">
            <img class="object-cover w-full h-full" [src]="board.icon" alt="" />
            <div
              class="absolute bottom-5 left-[13%] flex flex-col items-center bg-[#ffffff] px-2.5 py-2 rounded-[6px] gap-1.25 w-56"
            >
              <p class="font-bold">{{ board.name }}</p>
              <p class="opacity-60">{{ board.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-6">
      <p class="font-medium text-2xl">Team Members</p>
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-5 lg:gap-0">
        <div *ngFor="let team of teams" class="lg:max-w-[292px] max-h-[236px]">
          <div class="w-full h-full overflow-hidden rounded-lg relative">
            <img class="object-cover w-full h-full" [src]="team.icon" alt="" />
            <div
              class="absolute bottom-5 left-[13%] flex flex-col items-center bg-[#ffffff] px-2.5 py-2 rounded-[6px] gap-1.25 w-56"
            >
              <p class="font-bold">{{ team.name }}</p>
              <p class="opacity-60">{{ team.title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
