<section class="bg-[#8830C205]">
  <h2 class="px-7.5 py-10 lg:px-25 lg:py-20 font-bold text-[32px]">Contact Us</h2>
</section>
<section
  class="px-7.5 py-10 lg:px-25 lg:py-25 flex flex-col lg:flex-row justify-between bg-[url('/assets/contact/bg1.png')] bg-center gap-10 lg:gap-0"
>
  <div class="max-w-95">
    <h2 class="text-[32px] font-medium pb-2">Send us a message</h2>
    <div class="flex flex-col gap-1">
      <p class="text-xl opacity-60">
        Have questions or want to get invoved? We’d love to hear from you! Reach
        out to us for inquiries, partnerships or support.
      </p>
      <div class="flex flex-col gap-2">
        <div>
          <p>123, Impact Street, Lagos. Nigeria.</p>
        </div>
        <div>
          <p>info&#64;God’slove.org</p>
        </div>
        <div>
          <p>+234 801 123 4567</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col gap-8">
    <form action="" class="grid grid-cols-2 gap-5">
      <input
        type="text"
        class="bg-[#F0EFF0CC] px-5 py-4 rounded-[8px] [&::placeholder]:opacity-40"
        placeholder="Full Name"
      />
      <input
        type="email"
        class="bg-[#F0EFF0CC] px-5 py-4 rounded-[8px] [&::placeholder]:opacity-40"
        placeholder="Email"
      />
      <input
        type="number"
        class="bg-[#F0EFF0CC] px-5 py-4 rounded-[8px] [&::placeholder]:opacity-40"
        placeholder="Phone Number"
      />
      <input
        type="address"
        class="bg-[#F0EFF0CC] px-5 py-4 rounded-[8px] [&::placeholder]:opacity-40"
        placeholder="Address"
      />
      <textarea
        name=""
        id=""
        placeholder="Message"
        rows="8"
        class="bg-[#F0EFF0CC] px-5 py-4 col-span-2 rounded-[8px] [&::placeholder]:opacity-40"
      ></textarea>
    </form>
    <div>
      <button class="grad1 text-[20px] px-4.5 py-3 rounded-xl text-[#FFFFFF]">
        Submit
      </button>
    </div>
  </div>
</section>
