/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@font-face {
  font-family: "Satoshi";
  src: url("/public/fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi";
  src: url("/public/fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
* {
  font-family: "Satoshi", sans-serif;
}
*::-webkit-scrollbar {
  display: none;
}

.grad1 {
  background: linear-gradient(180deg, #8830c2 0%, #653783 100%);
  box-shadow: 0px 3px 10px 0px #8830c24d;
}
.scrol::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}
.ja {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.shad {
  box-shadow: 0px 0px 2px 0px #0000002e;
}
nav ul.menu {
  width: 150px;
  height: 55vh;
  position: fixed;
  top: 16px;
  right: -233px; /* Start off-screen to the right */
  z-index: 101;
  flex-direction: column;
  justify-content: flex-start;
  transition: transform 0.3s ease-in-out;
  opacity: 100%;
}

/* Show menu when menu-open class is added on screens <= 768px */
nav ul.menu.menu-open {
  transform: translateX(-250px); /* Slide in from the right */
}

/* Desktop behavior (above 768px) */
@media (min-width: 769px) {
  nav ul.menu {
    position: static;
    width: auto;
    height: auto;
    flex-direction: row;
    background: transparent;
    padding: 0;
    box-shadow: none;
    transform: none !important;
  }

  nav ul.menu.menu-open {
    transform: none; /* Ensure no slide on desktop */
  }
}
.hide {
  display: none;
}
@media (max-width: 768px) {
  .hide {
    display: block;
  }
}

.infinite-container {
  padding: 30px 0;
  margin: 60px 0;
  position: relative;
  overflow: hidden;
}

.infinite-wrapper {
  display: flex;
  width: 200%;
  animation: slide 40s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Move by one set */
  }
}

.logos-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%; /* Each set takes half the container */
  flex-shrink: 0;
}

.logo-item {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  padding: 0 30px;
  transition: transform 0.3s ease;
}

.logo-item:hover {
  transform: translateY(-10px);
}

.logo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
